In [39]:
import pandas as pd

In [40]:
df=pd.read_csv("songs.csv")

In [41]:
df.head()

,Song_name,Singer,Language,genre
0,Poomala,K J Yesudas,Telugu,Classical
1,Jimmy Jimmy Jimmy Aaja,Parvati Khan,Hindi,Folk
2,Jagave Ondu Ranaranga,Dr. Rajkumar,Kannada,Romantic
3,Nee Mudida Malliga,P. Susheela|P.B. Sreenivas,Kannada,Hindi
4,Jayathe Jayathe,Ambar Kumar|Manna Dey|Krishna Kalle,Kannada,Kannada

In [42]:
df.head()

,Song_name,Singer,Language,genre
0,Poomala,K J Yesudas,Telugu,Classical
1,Jimmy Jimmy Jimmy Aaja,Parvati Khan,Hindi,Folk
2,Jagave Ondu Ranaranga,Dr. Rajkumar,Kannada,Romantic
3,Nee Mudida Malliga,P. Susheela|P.B. Sreenivas,Kannada,Hindi
4,Jayathe Jayathe,Ambar Kumar|Manna Dey|Krishna Kalle,Kannada,Kannada

In [43]:
df.shape

(1000, 4)

In [44]:
genres = [
     'Classical', 'Folk', 'Romantic', 'Hindi','Kannada','Telugu','Devotional', 'Melody','Happy',  'Dance', 'Trance', 
     'Bhajan', 'Regional', 'Patriotic', 'Sad', 'Inspirational'
]

In [45]:
genres_repeated = genres * (len(df) // len(genres)) + genres[:len(df) % len(genres)]

# Add the 'genre' column to the DataFrame
df['genre'] = genres_repeated

# Save the updated DataFrame with the 'genre' column to a new CSV
df.to_csv("songs.csv", index=False)

In [46]:
df.head()

,Song_name,Singer,Language,genre
0,Poomala,K J Yesudas,Telugu,Classical
1,Jimmy Jimmy Jimmy Aaja,Parvati Khan,Hindi,Folk
2,Jagave Ondu Ranaranga,Dr. Rajkumar,Kannada,Romantic
3,Nee Mudida Malliga,P. Susheela|P.B. Sreenivas,Kannada,Hindi
4,Jayathe Jayathe,Ambar Kumar|Manna Dey|Krishna Kalle,Kannada,Kannada

In [47]:
df.tail()

,Song_name,Singer,Language,genre
995,Vedam Anuvanuvuna,S. P. Balasubrahmanyam|S. P. Sailaja,Telugu,Hindi
996,Tumse Milkar Na Jane,Lata Mangeshkar|Shabbir Kumar,Hindi,Kannada
997,Malenaada Henna,S. Janaki|P.B. Sreenivas,Kannada,Telugu
998,Nannu Bilachithiva,B. Vasantha|Chorus,Telugu,Devotional
999,Naguva Ninna Mogava Chenna,S. P. Balasubrahmanyam|P. Susheela,Kannada,Melody

In [48]:
df.tail()

,Song_name,Singer,Language,genre
995,Vedam Anuvanuvuna,S. P. Balasubrahmanyam|S. P. Sailaja,Telugu,Hindi
996,Tumse Milkar Na Jane,Lata Mangeshkar|Shabbir Kumar,Hindi,Kannada
997,Malenaada Henna,S. Janaki|P.B. Sreenivas,Kannada,Telugu
998,Nannu Bilachithiva,B. Vasantha|Chorus,Telugu,Devotional
999,Naguva Ninna Mogava Chenna,S. P. Balasubrahmanyam|P. Susheela,Kannada,Melody

In [49]:
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]

In [50]:
df.tail()

,Song_name,Singer,Language,genre
995,Vedam Anuvanuvuna,S. P. Balasubrahmanyam|S. P. Sailaja,Telugu,Hindi
996,Tumse Milkar Na Jane,Lata Mangeshkar|Shabbir Kumar,Hindi,Kannada
997,Malenaada Henna,S. Janaki|P.B. Sreenivas,Kannada,Telugu
998,Nannu Bilachithiva,B. Vasantha|Chorus,Telugu,Devotional
999,Naguva Ninna Mogava Chenna,S. P. Balasubrahmanyam|P. Susheela,Kannada,Melody

In [51]:
df.tail(400)

,Song_name,Singer,Language,genre
600,Onde Ondu Aaseyu,S. Janaki|S. P. Balasubrahmanyam,Kannada,Happy
601,Ninna Nanna,Dr. Rajkumar,Kannada,Dance
602,Naa Ninna Mareyalare,Dr. Rajkumar|Vani Jairam,Kannada,Trance
603,Ninna Kanda Nanna,S. Janaki|S. P. Balasubrahmanyam,Kannada,Bhajan
604,Main Shair To Nahin,Shailender Singh,Hindi,Regional
...,...,...,...,...
995,Vedam Anuvanuvuna,S. P. Balasubrahmanyam|S. P. Sailaja,Telugu,Hindi
996,Tumse Milkar Na Jane,Lata Mangeshkar|Shabbir Kumar,Hindi,Kannada
997,Malenaada Henna,S. Janaki|P.B. Sreenivas,Kannada,Telugu
998,Nannu Bilachithiva,B. Vasantha|Chorus,Telugu,Devotional
999,Naguva Ninna Mogava Chenna,S. P. Balasubrahmanyam|P. Susheela,Kannada,Melody

In [52]:
df.head(100)

,Song_name,Singer,Language,genre
0,Poomala,K J Yesudas,Telugu,Classical
1,Jimmy Jimmy Jimmy Aaja,Parvati Khan,Hindi,Folk
2,Jagave Ondu Ranaranga,Dr. Rajkumar,Kannada,Romantic
3,Nee Mudida Malliga,P. Susheela|P.B. Sreenivas,Kannada,Hindi
4,Jayathe Jayathe,Ambar Kumar|Manna Dey|Krishna Kalle,Kannada,Kannada
...,...,...,...,...
95,Mysooru Dasara,P.B. Sreenivas,Kannada,Inspirational
96,Tumne Mujhe Dekha Hokar Meherban,Mohammed Rafi,Hindi,Classical
97,Emo Emo,Ghanatasala|S. Janaki,Telugu,Folk
98,Oka Brundavanam,Vani Jairam,Telugu,Romantic
99,Chitthi Aai Hai,Pankaj Udhas,Hindi,Hindi

In [53]:
df.shape

(1000, 4)

In [54]:
df.isnull().sum()

Song_name    0
Singer       0
Language     0
genre        0
dtype: int64

In [55]:
if 'link' in df.columns :
    df = df.drop('link',axis=1)

df = df.sample(1000).reset_index(drop=True)

In [56]:
df.head()

,Song_name,Singer,Language,genre
0,Jayathwadabhra,Ghanatasala,Telugu,Telugu
1,Ve Vela Gopemmala,S. P. Balasubrahmanyam|S. P. Sailaja,Telugu,Romantic
2,Ankhon Mein Kajal Hai,Kishore Kumar|Lata Mangeshkar,Hindi,Romantic
3,Chali Gali Kottindamma,S. P. Balasubrahmanyam|S. Janaki,Telugu,Hindi
4,Dharmam,S. P. Balasubrahmanyam|S. P. Sailaja,Telugu,Folk

In [57]:
import nltk
from nltk.stem.porter import PorterStemmer
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\chetan\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [58]:
st = PorterStemmer()

In [59]:
def token(text):
    tokens = nltk.word_tokenize(text)
    tokens_list = [st.stem(w) for w in tokens]
    return " ".join(tokens_list)

In [60]:
print(token('Bachna Ae Hasinon Lo'))

bachna ae hasinon lo

In [61]:
df['Song_name'].apply(lambda x: token(x))

0               jayathwadabhra
1            ve vela gopemmala
2        ankhon mein kajal hai
3       chali gali kottindamma
4                      dharmam
                ...
995                maduv maduv
996                 alli billi
997           gangeya kareyali
998           ragala pallakilo
999    naanu yaaru yaava vooru
Name: Song_name, Length: 1000, dtype: object

In [62]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [63]:
tfid = TfidfVectorizer(analyzer='word',stop_words = 'english')

In [64]:
matrix = tfid.fit_transform(df['Song_name'])

In [65]:
matrix

<1000x1656 sparse matrix of type '<class 'numpy.float64'>'
	with 2755 stored elements in Compressed Sparse Row format>

In [66]:
cosine_similarity(matrix)

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [67]:
similar = cosine_similarity(matrix)

In [68]:
similar[0]

array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [69]:
def recommend(Song_name):
    if Song_name not in df["Song_name"].values:
        return f"'{Song_name}' not found in the dataset. Please check the spelling or try another song."
    
    idx = df[df["Song_name"] == Song_name].index[0]
    distances = sorted(list(enumerate(similar[idx])), reverse=True, key=lambda x: x[1])
    Song_name = []
    for i in distances[1:5]:  # Get the top 4 recommendations (excluding the song itself)
        Song_name.append(df.iloc[i[0]].Song_name)
    return Song_name

In [70]:
recommend('Truck')

"'Truck' not found in the dataset. Please check the spelling or try another song."

In [71]:
import pickle

In [72]:
pickle.dump(similar,open("similarity","wb"))

In [73]:
pickle.dump(similar, open("similarity.pkl", "wb"))

In [74]:
import pickle

def show_recommendations(selected_song):
    # Load data
    with open('df.pkl', 'rb') as f:
        df = pickle.load(f)
    with open('similarity.pkl', 'rb') as f:
        similarity = pickle.load(f)
    
    # Find index of selected song
    idx = df[df["Song_name"] == selected_song].index[0]
    
    # Get similarity scores
    distances = sorted(list(enumerate(similarity[idx])), reverse=True, key=lambda x: x[1])
    
    # Get recommended songs (excluding the selected song itself)
    recommended_songs = []
    for i in distances[1:6]:  # Top 5 recommendations
        recommended_songs.append(df.iloc[i[0]]['Song_name'])
    
    # Display recommendations
    st.header(f'Recommended Songs for {selected_song}')
    for Song_name in recommended_songs:
        st.write(Song_name)